@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
    0% {
      transform: translateX(10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.2s fadeInUp;
  }

  @font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype'),
      url('./fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
  }
  
  
  body {
    font-family: 'SF Pro Display' !important;
  }