server/node_modules
server/utils/credentials.json
server/queries/gamification/db/csv
server/queries/campaign/db/csv
server/queries/mail/mailgun.py
server/utils/sheets-credentials.json
server/queries/gamification/
server/queries/campaign/
server/uploads/
server/db
server/utils/run-userImpact.js
